mainColor = darkcyan
body
  padding-top 61px

.navbar
  background-color mainColor
  a
    color whitesmoke
    font-weight bolder

footer
  position absolute
  bottom 0
  width 100%
  height 30px
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid whitesmoke

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.well
  margin-top 15px

.stat-block-title
  background mainColor
  color white
  font-weight bold
  font-variant small-caps
  font-size larger
  padding-left 5px
  margin-top 10px
  margin-bottom 5px

.stat-block-content
  font-weight normal

.stat-block-indent
  margin-left 30px

.stat-block-breaker
  border-top 1px solid black
  border-bottom 1px solid black
  font-variant small-caps
  font-weight bolder


