//
   Created by Niertis on 2/20/2016.

.container-fluid
  .row
    .col-md-6
      div(ng-include="'/partials/character-form/character-form'")
    .col-md-6
      div(ng-include="'/partials/main/stat-block'")