//
   Created by Niertis on 2/21/2016.
div.well.well-sm
  div.stat-block-title {{character.generalInfo.characterName}}
  div.stat-block-content
    | {{character.generalInfo.gender}} {{character.generalInfo.race}}&nbsp;
    span(ng-repeat="classes in character.generalInfo.characterClasses")
      | {{classes.className}} {{classes.value}}&nbsp; <br/>
      | {{character.generalInfo.alignment}} {{character.generalInfo.size}} {{character.generalInfo.creatureType}} <br/>
      strong Init
      span &nbsp;+{{init()}};&nbsp;
      strong Senses&nbsp;
      span {{sensesString()}}; Perception +{{perception()}}
  div.stat-block-breaker Defense
  div.stat-block-content
    strong AC&nbsp;
    | {{ac()}}, touch {{touchAC()}}, flat-footed {{flatFootedAC()}} <br/>
    strong HP&nbsp;
    span {{hitDie()}} <br/>
    strong Fort
    span &nbsp;+{{fortSave()}};&nbsp;
    strong Ref
    span &nbsp;+{{refSave()}};&nbsp;
    strong Will
    //todo: figure out how to aggregate conditional conditions on saves
    span &nbsp;+{{willSave()}};&nbsp;([placeholder]) <br/>
    //todo: perhaps this should use an ng-show so that the info displays only when necessary
    strong Defensive Abilities
    //todo: figure out how to aggregate defensive abilities. maybe add a boolean to special abilities?
    span &nbsp;[placeholder] <br/>
    //todo: perhaps this should use an ng-show so that the info displays only when necessary
    strong Weaknesses
    span &nbsp;[placeholder] <br/>
  div.stat-block-breaker Offense
  div.stat-block-content
    strong Speed&nbsp;
    span [placeholder-speed] <br/>
    strong Melee&nbsp;
    span [placeholder-melee] <br/>
    strong Range&nbsp;
    span [placeholder-range] <br/>
    strong Special Attacks <br/>
    span [placeholder-specialAttacks] <br/>
    strong [spellCastingClass] Spells Known&nbsp;
    sapn (CL [spellCastingClassLevel]; concentration +[calcConcentration]) <br/>
    div.stat-block-indent
        span [placeholder for spell lists]
  div.stat-block-breaker Statistics
  div.stat-block-content
    strong Str&nbsp;
    span {{strength}} (+{{strMod()}})&nbsp;
    strong Dex&nbsp;
    span {{dexterity}} (+{{dexMod()}})&nbsp;
    strong Con&nbsp;
    span {{constitution}} (+{{conMod()}})&nbsp;
    strong Int&nbsp;
    span {{intelligence}} (+{{intMod()}})&nbsp;
    strong Wis&nbsp;
    span {{wisdom}} (+{{wisMod()}})&nbsp;
    strong Cha&nbsp;
    span {{charisma}} (+{{chaMod()}})&nbsp; <br/>
    strong BAB&nbsp;
    span +{{bab()}};&nbsp;
    strong CMB&nbsp;
    span +{{cmb()}};&nbsp;
    strong CMD&nbsp;
    span {{cmd()}}
    div.stat-block-breaker Special Abilities
  div.stat-block-content
    | add the special ability detail data here
