//
   Created by Niertis on 2/21/2016.
div.well.well-sm
  div.stat-block-title {{generalInfo.characterName}}
  div.stat-block-content
    | {{generalInfo.gender}} {{generalInfo.race}}&nbsp;
    span(ng-repeat="classes in generalInfo.characterClasses")
      | {{classes.className}} {{classes.value}}&nbsp; <br/>
      | {{generalInfo.alignment}} {{generalInfo.size}} {{generalInfo.creatureType}} <br/>
      strong Init
      span &nbsp;+{{init()}};&nbsp;
      strong Senses&nbsp;
      span {{sensesString()}}; Perception +{{perception()}}
  div.stat-block-breaker Defense
  div.stat-block-content
    strong AC&nbsp;
    | {{ac()}}, touch {{touchAC()}}, flat-footed {{flatFootedAC()}} <br/>
    strong HP&nbsp;
    span {{hitDie()}} <br/>
    strong Fort
    span &nbsp;+{{fortSave()}};&nbsp;
    strong Ref
    span &nbsp;+{{refSave()}};&nbsp;
    strong Will
    //todo: figure out how to aggregate conditional conditions on saves
    span &nbsp;+{{willSave()}};&nbsp;([placeholder]) <br/>
    //todo: perhaps this should use an ng-show so that the info displays only when necessary
    strong Defensive Abilities
    //todo: figure out how to aggregate defensive abilities. maybe add a boolean to special abilities?
    span &nbsp;[placeholder] <br/>
    //todo: perhaps this should use an ng-show so that the info displays only when necessary
    strong Weaknesses
    span &nbsp;[placeholder] <br/>
  div.stat-block-breaker Offense
  div.stat-block-content
    | add the offense data here
  div.stat-block-breaker Statistics
  div.stat-block-content
    | add the statistics data here
  div.stat-block-breaker Special Abilities
  div.stat-block-content
    | add the special ability detail data here
